@{
    ViewBag.Title = "iTimeU";
}
<div class="background">
    <div class="menubg">
        <span class="menubig">@Html.ActionLink("TIMER", "Index/1", "Timer")<br /><br /></span>
        <span class="menubig">@Html.ActionLink("Startnummer", "Index", "CheckpointOrder")<br /><br /></span>
    </div>
</div>
