@{
    ViewBag.Title = "iTimeU";
}
<div class="background">
    <div class="menubg">
        <span class="menubig">@Html.ActionLink("TIMER", "Index", "Timer", new { @class = "biglink" })<br /><br /></span>
    </div>
</div>
