@{
    ViewBag.Title = "iTimeU";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var imgRace = $("#imgRace");
        var imgResults = $("#imgResults");
        var imgImport = $("#imgImport");
        var imgAdmin = $("#imgAdmin");
        var imgUndefined = $("#imgUndefined");


        imgRace.click(function () {
            var url = "/StartRace/";
            document.location = url;
        });

        imgResults.click(function () {
            var url = "/Results/ResultSetup/";
            document.location = url;
        });

        imgImport.click(function () {
            var url = "/ImportAthletes/";
            document.location = url;
        });

        imgAdmin.click(function () {
            var url = "/Admin/";
            document.location = url;
        });

        $("img").hover(
            function () {
                this.src = this.src.replace("_off", "_on");
            },
            function () {
                this.src = this.src.replace("_on", "_off");
            }
        );
    });
</script>
<div class="container">
    <div class="background">
        <div class="row">
            <div class="menubg4">
                <center>
                    <img src="../../Content/images/start_off.png" id="imgRace" alt="Start løp" class="logo" /><img
                        id="imgResults" src="../../Content/images/resultater_off.png" alt="Resultater"
                        class="logo" /><img id="imgImport" src="../../Content/images/importer_off.png" alt="Løpere"
                            class="logo" /><img id="imgAdmin" src="../../Content/images/admin_off.png"
                                alt="Resultater" class="logo" />
                </center>
            </div>
        </div>
    </div>
</div>
