@{
    ViewBag.Title = "iTimeU";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var imgRace = $("#imgRace");
        var imgResults = $("#imgResults");
        var imgImport = $("#imgImport");
        var imgAdmin = $("#imgAdmin");
        var imgUndefined = $("#imgUndefined");


        imgRace.click(function () {
            var url = "/StartRace/";
            document.location = url;
        });

        imgResults.click(function () {
            var url = "/Results/";
            document.location = url;
        });

        imgImport.click(function () {
            var url = "/ImportAthletes/";
            document.location = url;
        });

        imgAdmin.click(function () {
            var url = "/Admin/";
            document.location = url;
        });
    });
</script>
<div class="container">
    <div class="background">
        <div class="row">
        <div class="menubg">
            <img src="../../Content/images/menu01.png" class="logo" id="imgRace" alt="Logo" /><img
                src="../../Content/images/menu02.png" class="logo" id="imgResults" alt="Logo" /><img
                    src="../../Content/images/menu03.png" class="logo" id="imgImport" alt="Logo" /><img
                        src="../../Content/images/menu04.png" class="logo" id="imgAdmin" alt="Logo" /><img
                            src="../../Content/images/menu05.png" class="logo" id="imgUndefined" style="display: none" alt="Logo" />
        </div>
        </div>
    </div>
</div>
