<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var imgLogo = $("#imgLogo");

            imgLogo.click(function () {
                var url = "../..";
                document.location = url;
            });

        });
    </script>
</head>
<body>
    <div class="containermaster">
        <div class="rowtopmaster">
            <div class="lefttopmaster">
            </div>
            <div class="middle">
                <center>
                    <img src="../../Content/images/Logo3.png" id="imgLogo" class="logo" alt="Logo" />
                </center>
            </div>
            <div class="righttopmaster">
            </div>
        </div>
        <div class="rowmiddlemaster">
            <div class="leftmiddlemaster">
            </div>
            <div class="centermiddlemaster">
                @RenderBody()
            </div>
            <div class="rightmiddlemaster">
            </div>
        </div>
        <div class="rowbottommaster">
            <div class="leftbottommaster">
                &nbsp;
            </div>
            <div class="centerbottommaster">
                <br />
                <center>
                    <b><a href="mailto:arnstein.johansen@capgemini.com" class="topmenulink">SUPPORTMAIL</a>
                    </b>
                </center>
            </div>
            <div class="rightbottommaster">
                &nbsp;
            </div>
        </div>
    </div>
</body>
</html>
