<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var imgLogo = $("#imgLogo");

            imgLogo.click(function () {
                var url = "../..";
                document.location = url;
            });

        });
</script>
</head>
<body style="height: 100%">
    <div class="containermaster">
        <div class="rowtopmaster">
            <div class="lefttopmaster">
            </div>
            <div class="middle">
                <img src="../../Content/images/Logo3.png" id="imgLogo" class="logo" alt="Logo" />
            </div>
            <div class="righttopmaster">
            </div>
        </div>
        <div class="rowmiddlemaster">
            <div class="leftmiddlemaster">
            </div>
            <div class="centermiddlemaster">            
                @RenderBody()
            </div>
            <div class="rightmiddlemaster">
            </div>
        </div>
    </div>
</body>
</html>
