<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>
<body style="height: 100%">
    <div class="containermaster">
        <div class="rowtopmaster">
            <div class="lefttopmaster">
            </div>
            <div class="middle">
                <a href="../.." style="border-bottom-width:0px">
                <img src="../../Content/images/Logo3.png" class="logo" alt="Logo" /></a>
            </div>
            <div class="righttopmaster">
            </div>
        </div>
        <div class="rowmiddlemaster">
            <div class="leftmiddlemaster">
            </div>
            <div class="centermiddlemaster">            
                @RenderBody()
            </div>
            <div class="rightmiddlemaster">
            </div>
        </div>
    </div>
</body>
</html>
