<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ITimeUEntities" connectionString="metadata=res://*/DBItem.csdl|res://*/DBItem.ssdl|res://*/DBItem.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Z9402765\SQLEXPRESS2008;Initial Catalog=ITimeU;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
