@model ITimeU.Models.ParticipantModel
@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>


<script type="text/javascript">

    btnRegister.click(function () {
        $.get("/Participant/Register/");
    });

</script>

    <h2>Participant View</h2>

    Startnummer: 
    <input type="text" id="txtParticipantNumber" value="" />
    <input type="button" id="btnRegister" value="Register" />

    <!-- liste med startnummer fra databasen -->
    <span id="txtStartingNumbers"></span>
    

    