@model ITimeU.Models.TimerModel
@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/timer_jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/timer_stopwatch.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/timer_handlers.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#start1").click(function () {
            var btnStart = $("#start1");
            var btnReset = $("#reset1");
            if (btnStart.val() == "Start") {
                btnStart.val('Stop');
                btnReset.val('Runde');
                $.get("/Timer/Start/");
            }
            else {
                btnStart.val('Start');
                btnReset.val('Nullstill');
                $.get("/Timer/Stop/");
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#reset").click(function () {
            var btn = $("#reset1");
            if (btn.val() == "Nullstill") {
                $.get("/Timer/Reset/");
            }
            else {
            }
        });
    });
</script>

    <h2>Timer View</h2>

    <span id="time1" style="width: 100px"></span>
    
    <input type="button" id="start1" value="Start" style="width: 100px" />&nbsp;<input type="button" id="reset1" value="Nullstill" style="width: 100px" />
    

    