@model ITimeU.Models.TimerModel
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <h2>
        Index</h2>
    <input type="submit" value="Start" />
    if (Model.IsStarted)
    { <p>
        Timer is started! Start time: @Model.StartTime
    </p> }
}