<!-- DO NOT COMMIT THIS FILE -->
<connectionStrings>
<!-- ADD YOUR LOCAL CONNECTIONSTRING HERE  
    <add name="ITimeUEntities" connectionString="metadata=res://*/DBItem.csdl|res://*/DBItem.ssdl|res://*/DBItem.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    Data Source=Z9402676\MYSERVER;Initial Catalog=ITimeU;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  -->
</connectionStrings>