@model IEnumerable<ITimeU.Models.AthleteClass>

@{
    ViewBag.Title = "AthletesForRace";
}
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" }) | @Html.ActionLink("ADMIN", "Index", "Admin", null, new { @class = "topmenulink" }) | 
    </center>
</div>
<div class="contentmargin">
    <h2>
        Utøvere</h2>
    <table>
        <tr>
            <th>
                Navn
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
            </tr>
        }
    </table>
</div>

